.nav-container {
    width: 100%;
    height: 70px;
    background-color: #00418f;
    left: 0;
    top: 0;
    position: absolute;   
}

.nav-bar {
    display: flex;
}

.nav-bar > li {
    margin: auto;
    list-style: none;
    cursor: pointer;
}

.nav-button {
    background-color: #60c0bd;
}