.nav-container {
    width: 100%;
    height: 70px;
    background-color: #00418f;
    left: 0;
    top: 0;
    position: absolute;   
}

.navbar {
    display: flex;
}

.navbar > li {
    margin: auto;
    list-style: none;
    cursor: pointer;
}